.cart {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 40rem;

    margin: 3rem auto;
    padding: 1.5rem;

    box-sizing: border-box;

    border: 1px solid #ddd;
    border-radius: 8px;

    gap: 1rem;
}

@media (max-width: 768px) {
    .cart {
        margin: 1rem;
        padding: 1rem;
    }
}

