.users {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 20px;
    
}

.usersCard {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}