.traditionalProductDetail {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 24rem;

    margin: 3rem auto;
    padding: 1.5rem;

    box-sizing: border-box;

    gap: 16px;
}

@media (max-width: 768px) {
    .traditionalProductDetail {
        margin: 1rem;
        padding: 1rem;
    }
}